
@charset 'utf-8';
/* Font family style */

@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Open+Sans&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/* variables */

:root{
    --bg-primary: #172B2B;
    --bg-primary-200:#2D4040;
    --bg-secondary-300:#327475;
    --bg-tertiary-300:#A3D2D3;


    --text-clr-primary: #A3D2D3;
    --text-accent: #E1FC74;

    --black:rgb(17, 17, 17);
    --white:rgb(245, 245, 245);
    --transparent:rgba(255, 255, 255, 0.081);

    --btn-bg-primary:rgba(141, 177, 225, 0.79);
    --btn-bg-hover:rgba(165, 191, 224, 0.79);
    --btn-border-clr: rgb(26, 26, 26);

    --shadow: 5px 5px 10px var(--bg-primary);

    /* font size */
    --fs-700: clamp(1.8rem, 10vw, 7rem);
    --fs-600: clamp(1.5rem,10vw,3rem);
    --fs-500: 1.45rem;
    --fs-400: 1rem;

    /* font weight */
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    /* margin and padding */
    --padding-base: 1rem;
    --margin-base: 1rem;

    --padding-base-btn: .7em 2em;

    /* typo styles */

    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --ff-title:'Bigshot One', cursive;
    --line-height-base: 1.5;
    
    /* transitions */

    --transition: all 300ms ease-in-out;
   
    --border-base: 1px solid #000;
    --radius-base: 0.5rem;
    
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width:100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ***************   *************** */


body{
  
    font-family: var(--ff-secondary);
    background: var(--bg-primary);
}


h1{
    margin-block: 3rem;
    text-align: center;
    color: var(--text-accent);
}

.question-card{
    background-color: var(--bg-primary-200);
    color: var(--text-clr-primary);
    padding: var(--padding-base);
    margin-block: var(--margin-base);
    border-radius: var(--radius-base);
    width: 30vw;
    margin-inline: auto;
}   


.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1rem;
    border-bottom: 1px solid var(--text-accent);
    padding-bottom: 2em;

}

.card-title{
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.question-btn{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: transparent;
}

.question-btn :is(.plus-icon, .minus-icon){
    margin-block: 5px;
    color: var(--text-clr-primary);
    cursor:pointer;
}

/* 

    -   when page loads, question answers are hidden by default; only when the + or - btn are clicked the text will be shown

*/

.question-answer{
    display: none;
}


/* when the class show-text is added the class question answer is going to be visible 

.show-text is added to the main parent (article)

*/
.show-text .question-answer{
    display: block;
    
}


/* when page loads the minus icon is invisible 

    - when the show-text class is added (showing the answer... the minus icon is visible and the plus will become invisible)

*/

.minus-icon{
    display: none;
}

.show-text .minus-icon{
    display: inline;
}

.show-text .plus-icon{
    display: none;
}



  /* breadcrumbs */

  .breadcrumbs{
    display: flex;
    list-style: none;
    margin-top: 3rem;
  
}

.breadcrumbs li{
    margin: 0 10px;
}

.breadcrumbs li a{
    text-decoration: none;
    color: var(--text-clr-primary);
    filter: brightness(90%);
}

.active{
    color: var(--text-clr-primary);
    filter: brightness(140%);
}

ul li:nth-child(2n){
    color: white;
}

