
/* Font family style */

@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Open+Sans&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/* variables */

:root{
    --bg-primary: rgb(87, 133, 197);
    --bg-secondary: rgba(239, 119, 71, 0.705);
    --bg-tertiary:rgba(141, 177, 225, 0.79);
    --bg-highlight:rgb(248, 240, 155);

    --text-clr-primary: rgb(87, 42, 49);
    --text-clr-secondary: rgb(13, 13, 63);

    --black:rgb(17, 17, 17);
    --white:rgb(245, 245, 245);
    --transparent:rgba(255, 255, 255, 0.081);

    --btn-bg-primary:rgba(141, 177, 225, 0.79);
    --btn-bg-hover:rgba(165, 191, 224, 0.79);
    --btn-border-clr: rgb(26, 26, 26);

    --shadow: 5px 5px 10px var(--bg-primary);

    /* font size */
    --fs-700: clamp(1.8rem, 10vw, 7rem);
    --fs-600: clamp(1.5rem,10vw,3rem);
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    /* font weight */
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    /* margin and padding */
    --padding-base: 1rem;
    --margin-base: 1rem;

    --padding-base-btn: .7em 2em;

    /* typo styles */

    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --ff-title:'Bigshot One', cursive;
    --line-height-base: 1.5;
    
    /* transitions */

    --transition: all 300ms ease-in-out;
   
    --border-base: 1px solid #000;
    --radius-base: 0.5rem;
    
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--ff-secondary);
    background: var(--bg-tertiary);
    
}


main{
    display: grid;
    grid-template-rows: 150px,1fr;
    place-items: center center;
    height: 100vh;
}


.explanation{
    width: clamp(45ch,50vw,66ch);
    margin-block: 1em;
    text-align: center;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}


/* section.container */

.container{
    display: grid;
    grid-template-rows: 100px 1fr;
    width: clamp(500px,50vw,600px);
    border-radius: 25px;    
    box-shadow: var(--shadow);
    background-color: var(--bg-tertiary);

}   

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title::after{
    content: '';
    position: absolute;
    top: 70px;
    width: clamp(150px,15vw,350px);
    height: 5px;
    background: blue;
}

/* article.review */

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 1em;
}

.review > *:not(#person-img){
    margin-block-end: .5em;
}


.img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.img-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(181, 106, 169, 0.645);
    top: -2px;
    right:-5px;
    border-radius: 50%;
    z-index: -1;
  }

/* img#person img */
#person-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* p#info */

.info{

    text-align: center;
    width: min(80%,600px);
    color: var(--text-clr-secondary);
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow:hidden;

}

.read-more{
    -webkit-line-clamp:unset;

}

.author{
    color: var(--text-clr-primary);
}

.job{
    color: var(--bg-primary);
}


.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* next-prev buttons */

.btn{
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 100ms linear;
    color: var(--bg-primary);
}

.random-btn{
    padding: .5em 1em;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--btn-border-clr);
    cursor: pointer;
    transition: transform 100ms linear;
}

.btn:active,
.random-btn:active{
    transform: scale(.95);
}

.random-btn:hover,
.btn:hover{

    background-color: var(--btn-bg-hover);

}

  /* breadcrumbs */

  .breadcrumbs{
    display: flex;
    list-style: none;
    margin-block: 2em;

  
}

.breadcrumbs li{
    margin: 0 10px;
}

.breadcrumbs li a{
    text-decoration: none;
    color: var(--bg-primary);
    filter: brightness(90%);
}

.active{
    color: var(--text-clr-secondary);
    filter: brightness(140%);
}

ul li:nth-child(2n){
    color: rgb(27, 109, 181);
}

