*,
::after,
::before {
  box-sizing: border-box;
}

:root {

  /* colors backgorund*/

  --white: #e6e6e6;
  --black: #4d4d4d;
  --text-color: #686868;
  --btn-hover: #373737;
  --grey: #f6f6f6;



  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


.dark-mode{
  --white: #727272;
  --black: #f2f0fd;
  --text-color: #dcdcdc;
  --btn-hover: #d0d0d0;
  --grey: #424242;
}

.dark-toggle{
  background-color: var(--black);
  color: var(--white);
  border: transparent;
  border-radius: 50px;
  padding: .3em 1em;
}

body {
  background: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-color);
  transition: all 300ms ease;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width:100%;
  display: block;
  object-fit: cover;
}


header{
  width: 50vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/*
=============== 
Products 
===============
*/

/* entire section */
.products {
  display: grid;
  width: var(--fluid-width);
  margin: 4rem auto;
  grid-gap: 1rem;
  max-width: var(--max-width);
}

.filters-container h5 {
  font-weight: 500;
  /* top left/right bottom */
  margin: 1.5rem 0 0.5rem; 
  font-size: 0.85rem;
  
}

.search-input {
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
  border-left-color: var(--black);
  color:#000;
}

.company-btn {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem;
  text-transform: capitalize;
  background: transparent;
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-500);
  cursor: pointer;
  transition: all 100ms ease;
  font-size: 0.85rem;
  
}
.company-btn:hover {
  color: var(--btn-hover);
}

/* article.product */
.product {
  margin-bottom: 1rem;

}

.product-img {
  border-radius: var(--borderRadius);
  height: 15rem;
}

.product footer {
  padding: 0.75rem 0;
  text-align: center;

}
.product-name {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-500);
  
}
.product-price {
  margin-bottom: 0;
  color: var(--grey-700);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: var(--letterSpacing);

}

@media screen and (min-width: 768px) {
  /* entire section = sidebar + rest with this set up */
  .products {
    grid-template-columns: 200px 1fr;
  }
}

@media screen and (min-width: 992px) {

  /* div which contains article with img and text products */
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* border: 3px solid green; */

  }
  .products-container .product-img {
    /* before was 15 rem */
    height: 10rem;
  }
  .products-container .product-name {
    font-size: 0.85rem;
  }

  .products-container .product-price {
    font-size: 0.85rem;
  }

  .product {
    margin-bottom: 0;
  }
}


@media screen and (min-width: 1170px) {
  /* before was 2 colums */
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* breadcrumbs */

.breadcrumbs{
  display: flex;
  list-style: none;
  padding: 1rem 0;

}

.breadcrumbs li{
  margin: 0 10px;
}

.breadcrumbs li a{
  text-decoration: none;
  color: var(--primary-800);
}