
@charset 'utf-8';



:root{
  --clr-count-1:rgb(104, 132, 193);
  --clr-count-2:rgb(53, 68, 88);
  --clr-count-3:rgb(255, 170, 121);
  --black: rgb(53, 84, 105);
  --grey:rgb(211, 211, 211);
  --white: #ffffff; 
}


.dark-mode{
  --clr-count-1:rgb(230, 236, 252);
  --clr-count-2:rgb(168, 200, 241);
  --clr-count-3:rgb(255, 205, 176);
  --white:rgb(53, 84, 105);; 
}

body{
  background-color: var(--white);
  transition: all 300ms ease-in-out;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-inline: auto;
  color: var(--clr-count-1);
  margin-block: 3em;
}

.btn-dark{
  border: none;
  padding: .5em 2em;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--clr-count-2);
  color: var(--clr-count-1)
}


.counter-container{
  display: grid;
  width: 90vw;
  max-width: 800px;
  height: auto;
  margin-inline: auto;
  padding: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.single-counter{
  font-size:clamp(1.2em,5vw,2em);
  font-weight: 900;
  padding: 1em;
  border-bottom: 5px solid transparent;
  box-shadow: 1px 0px 5px var(--grey);
}

.number{
  display: inline-block;
  padding-bottom: 1em;
}

.counter-container article:nth-child(1){
  color: var(--clr-count-1);
  border-bottom-color: var(--clr-count-1);
}
.counter-container article:nth-child(2){
  color: var(--clr-count-2);
  border-bottom-color: var(--clr-count-2);

}
.counter-container article:nth-child(3){
  color: var(--clr-count-3);
  border-bottom-color: var(--clr-count-3);

}

/* breadcrumbs */

.breadcrumbs{
  display: flex;
  list-style: none;
  padding: 3rem 0;

}

.breadcrumbs li{
  margin: 0 10px;
}

.breadcrumbs li a{
  text-decoration: none;
  color: var(--clr-count-1);
}